* {
  box-sizing: border-box;
  margin: 0;
  background-color: rgb(26, 24, 24);
  color: gold;
}

/* Home-Component */
.homeComponent{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.homeContent{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  width: 37%;
  border-radius: 2rem;
  background-color: rgba(51, 48, 48, 0.445);
  border: 1px solid white;
}
.homeHeader{
  font-size: 3rem;
}
.homeHeader,.homeContent p{
  background-color: transparent;
}
.homeContent p{
  margin: 0 12rem;
}
.mainBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 18rem;
  background-color: lime;
  color: rgba(51, 48, 48, 0.445);
  font-weight: bold;
  font-size: larger;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: inset -3px -3px 3px 3px rgba(0, 0, 0, 0.363);
}
.mainBtn:hover{
  box-shadow: inset 3px 3px 3px 3px rgba(0, 0, 0, 0.363);
  color: white;
  font-weight: bold;
}

/* Footer */
.copyright{
  text-align: end;
  padding: 0 3rem 3rem 0;
}

/* New Game */
.newGameComponent{
  display: flex;
  width: 70vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 5% 15%;
}

/* Player Settings */
.playerSettings{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.playerInput{
  margin-top: 0.2rem;
  text-align: center;
  width: 22.5rem;
  height: 3rem;
  border: 2px solid gold;
  border-radius: 3rem;
  font-size: 1.5rem;
}
.playerInput:hover{
  width: 22.5rem;
  height: 3rem;
  background-color: rgba(255, 217, 0, 0.103);
  box-shadow: 0.01rem 0.01rem 0.7rem 0.01rem;
}
.avatar{
  width: 11rem;
  border: 1px solid gold;
  border-radius: 50%;
  margin: 0 1rem;
  margin-bottom: 1rem;
  box-shadow: 0.01rem 0.01rem 6rem 0.01rem;
}
.avatar:hover{
  width: 20rem;
  box-shadow: 0.01rem 0.01rem 60rem 0.01rem;
}
.avatarBox{
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 30%;
  padding: 3rem;
  border-radius: 2rem;
  border: 1px solid gold;
  background-color: rgba(228, 226, 220, 0.116);
  box-shadow: 0.01rem 0.01rem 0.7rem 0.01rem;
}
.avatarList{
  border: 1px solid gold;
  width: 7rem;
  height: 7rem;
  opacity: 0.5;
  border-radius: 50%;
  margin: 0.2rem;
}
.avatarList:hover{
  box-shadow: gold 0.01rem 0.01rem 0.7rem 0.01rem;
  opacity: 1;
  width: 6rem;
  height: 6rem;
}

/* Game Settings */
.gameSettingComponent{
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.gameSettingComponent h2,label,input{
  background-color: transparent;
}
.gameSettingsBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 21vw;
  height: 15vh;
  border-radius: 2rem;
  border: 1px solid gold;
  background-color: rgba(247, 247, 241, 0.082);
  box-shadow: 0.01rem 0.01rem 0.7rem 0.01rem;
  margin-bottom: 2rem;
}
.gameSettingsBox input{
  margin: 0.4rem 0;
  text-align: center;
  width: 15rem;
  height: 3rem;
  border: 2px solid gold;
  border-radius: 3rem;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.363);
}
.gameSettingsBox input:hover{
  box-shadow: 0.01rem 0.01rem 0.7rem 0.01rem;
}

/* Game Options */

.gameOptionsBox{
  margin-top: 1rem;
  border: 1px solid gold;
  opacity: 0.3;
}
.gameOptionsBox:hover{
  opacity: 1;
}
h5,.gameOptionsBox p{
  text-align: center;
}

/* game */
.cardSection{
  display: inline-grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border: 2px solid gold;
}
.card{
  height: 15rem;
  width: 15rem;
  background-color: rgba(255, 217, 0, 0.534);
}
.card:hover{
  background-color: transparent;
}
.gameComponent p, h1{
  margin-left: 1rem;
}